/* #063553 */
:root {
  --main-back:#fdfeff;
  --main-back-unfocus:#eaeaeb;
  --main-color:#000000;
  --line1:#f6faff;
  --line2:#dadada ;
  --item-back:#e5e9ea;
  --accent:#bcc5e8;
  --menu:#e2e2e2;
  --sec-back:#c7cacf91;
  --sec-menu:#86898e91;
  --vertical-font: 1.2rem;
  --second-color: #868686;
  --edit-width: 72vw;
  --edit-max-height:550px;
  --r3-max-height:150px;
  --edit-AreaMax-height:360px;
  --edit-AreaMax-padding:0px;
  --img-back: url("./img/img0.jpg");
  --box-position:relative;
  --box-position-points:unset;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
min-width: 100vw;
min-height: 100vh;  
font-family: "Poppins", sans-serif;
}
html{
  min-height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
